<div class="container">
    <% if @rests %>
        <div class="card-body">
                <% @rests.each do |rest| %>
                    <div class="row">
                        <div class="card my-3" style="max-width: 1000px">
                            <%= image_tag(rest["image_url"]["shop_image1"]) %>
                            <p>
                            <%= rest["name"] %>
                            </p>
                            <p>
                            <%= rest["address"] %>
                            </p>
                            <%= link_to bookmarks_path(restaurant_id: rest["id"]), method: :post do %>
                                <div class="heart"></div>
                            <% end %>
                            <p>
                            <%= hidden_field_tag :restaurant_id, rest["id"]%>
                        </div>
                    </div>
                <% end %>
        </div>
    <% end %>
</div>